<hr>

  <!-- 2 ways binding -->
  <div>
    <input type="number" ng-model="number" placeholder="Enter your number">
    <p>Your number: {{number}}</p>
    <p>Number + Number = {{number + number}}</p>
  </div>

  <hr>

  <!-- ng-init -->
  <div>
    <p ng-init="numbers=[1,2,3,4]">Numbers[2]: {{numbers[1]}}</p>
    <p ng-init="color='orange'" class="{{color}}">Number</p>
  </div>

  <hr>

  <!-- ng-repeat -->
  <div>
    <ul>
      <li ng-repeat="ninja in ninja">{{ninja}}</li>
    </ul>
  </div>

  <hr>

  <!-- ng-controller -->
  <div ng-controller="mainController">
    {{message}}
  </div>

  <hr>

  <div ng-controller="mainController">
    <!-- fillter/ng-src -->
    <div>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="ninja in ninja | orderBy: '-name' | filter: search">
          <img ng-src="{{ninja.img}}" alt="" style="width: 25px; position: relative; top: 8px;">
          {{ninja.name}} - {{ninja.rate | currency: '₫' : 3 }}
        </li>
      </ul>
    </div>

    <hr>

    <!-- ng-submit -->
    <form  ng-submit="addNinja()">
      <input type="text" placeholder="name" ng-model="newNinja.name">
      <input type="text" placeholder="age" ng-model="newNinja.age">
      <input type="text" placeholder="rate" ng-model="newNinja.rate">
      <input type="submit" value="Add ninja">
    </form>
  </div>